.chatspace{
    margin-top: 20px;
    width:100%;
    height:30rem;
   margin-left: 50px;
}
.groupchat{
    position: relative;
    
    margin:0;
   
}

.dropdown{
    width:100px;
    position: absolute;
    top:0;
   
}
 
 
.invite-button{
    position: absolute;
    top: 15%;
    right: 5%;
}
.invite-count{
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
   text-align: center;
    background: rgb(144, 180, 187);
}
.invites{
    position:absolute;
    border: 2px ridge;
    width:500px;
    text-align: center;
    height: 400px;
    right:0;
    top:50px;
    background: rgb(187, 226, 129);
    overflow-y: auto;
    border-radius: 10px;
    z-index: 2;
    margin-bottom: 10px;
    
} 
.invite-lists {
    list-style: none;
    border:2px ridge;
    padding: 5px;
    background: rgb(240, 223, 202);
    margin-bottom: 10px;
}
.invite-lists p{
    font-size: larger;
    font-weight: bold;
    

}
.chats{
    height: 90%;
    width:75%;
    background: #F8F8FF;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow-y: auto;
   
}
.chatspace h2{
    background-color:#FFFFE0;
    height: 80px;
    text-align: center;
    color: rgb(87, 82, 82);
    cursor: pointer;
    border:border ridge;
    
}

.chatspace h2:hover{
    background: #FFDEAD;
}


@media only screen and (max-width:768px)  { 
    
    .chats{
        height: 100%;
        width:90%;
        background: #F8F8FF;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow-y: auto;
       
    }
    .chatspace{
        margin-top: 20px;
        width:100%;
        height:23rem;
       margin-left:20px;
    }
    .chatspace h2{
        background-color:#FFFFE0;
        height: 40px;
        width:100%;
        text-align: center;
        color: rgb(87, 82, 82);
        cursor: pointer;
        border:border ridge;
        position: fixed;
        margin-left: -50px;
        
    }
    .invite-button{
        position: absolute;
        
        top: 0%;
        right: 2%;
    }
    
 }
 @media screen and (min-width:426px) and (max-width:768px) { 
    
 }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }